<script src="javascripts/cart.js"></script>
<div id="menu" class="menu">

<p><a href="/">Home</a></p>
<p><a href="/market">Market</a></p>
<p><a href="/register">Contact</a></p>
<div><img onclick="getCart()" class="cartIcon" src="/images/icons/cart.png"></div>
<a href="/login"><img class="cartIcon_inv" src="/images/icons/login.png"></a>
<a href="/logout">Logout</a>

</div>

