<div class="eventBody">
<div class="introImgDiv"> <img class="introImg" src="/images/logo.png"></div>
</div>
<!--div class="intro">
<div class="introHead">
    <span class="introType"></span>
</div>
<div class="introFoot"></div>

</div-->