<div class="introImgDiv"> <img class="introImg" src="/images/logo.png"></div>
<div class="landingPage">

<div style="margin-bottom:12%" class="eventBody">
    <h1 class="h1Span">Residential</h1>
    <div class="introImgDiv"> <img class="introImg" src="/images/fencing.png"></div>
    </div>
<div style="margin-bottom:12%" class="eventBody">
    <h1 class="h1Span">Gas & Oil</h1>
    <div class="introImgDiv"> <img class="introImg" src="/images/pipeline.png"></div>
    </div>
<div style="margin-bottom:12%" class="eventBody">
    <h1 class="h1Span">Custom Laser</h1>
    <div class="introImgDiv"> <img class="introImg" src="/images/bkgrd_0.jpg"></div>
    </div>
</div>
<!--div class="intro">
<div class="introHead">
    <span class="introType"></span>
</div>
<div class="introFoot"></div>

</div-->