<div class="introImgDiv_T"> <img class="introImg_head" src="/images/loge_sideBySide_white.png"></div>
<div class="landingPage">

<div style="margin-bottom:12%" class="eventBody">
    <h1 class="h1Span">Railing & Fencing</h1>
    <div class="introImgDiv_L"> <img class="introImg" src="/images/fencing.png"></div>
    </div>
<div style="margin-bottom:12%" class="eventBody">
    <h1 class="h1Span">Gas & Oil</h1>
    <div class="introImgDiv_M" > <img class="introImg" src="/images/pipeline.png"></div>
    </div>
<div style="margin-bottom:12%" class="eventBody">
    <h1 class="h1Span">Automated Gates</h1>
    <div class="introImgDiv_M" > <img class="introImg" src="/images/pipeline.png"></div>
    </div>
<div style="margin-bottom:12%" class="eventBody">
    <h1 class="h1Span">Signage</h1>
    <div class="introImgDiv_M" > <img class="introImg" src="/images/pipeline.png"></div>
    </div>
<div style="margin-bottom:12%" class="eventBody">
    <h1 class="h1Span">Automotive</h1>
    <div class="introImgDiv_R"> <img class="introImg" src="/images/laser.png"></div>
    </div>
</div>
<!--div class="intro">
<div class="introHead">
    <span class="introType"></span>
</div>
<div class="introFoot"></div>

</div-->