<div id="cartDiv" class="cart">
    <div class="eventBody">
        <h1>Cart Details</h1>
<div class="cartContain">

    <div><%= session%></div>
    <div>2</div>
    <div>3</div>
</div>
<%- include('paypal.ejs')%>
<button onclick="shrinkCart()"><h2>shrink cart</h2></button>

</div>
</div>