<div id="cartDiv" class="cart">
    <div class="eventBody">
        <h1>Cart Details</h1>
<div class="cartContain">
   

    
  
</div>

<button onclick="shrinkCart()"><h2>shrink cart</h2></button>

</div>
</div>