<!DOCTYPE html>
<html>
    <body>
         
        
          <br> <a href="/auth/google">log in with google</a>

    </body>
</html>

        </div>
        <!--script src="javascripts/backgroundFX1.js"></script-->
</body>
</html>