<!DOCTYPE html>
<html>
    
    <%- include('config/head.ejs')%>

    <body>
         
        <div class="eventBody">
        <h2>you have successfully logged out</h2>
          <br> <a href="/auth/google">log in with <div ><img  class="gglButton" src="/images/icons/shipping.png" alt=""></div></a>
        </div>
    </body>
</html>

        </div>
        <!--script src="javascripts/backgroundFX1.js"></script-->
</body>
</html>