<div style="background-image:url('images/icons/shipping.png');" class="icons">1</div>
<div style="background-image:url('images/icons/customer_service.png');" class="icons">2</div>
<div style="background-image:url('images/icons/custom_made.png');" class="icons">3</div>