
<div class="iconDiv" style="background-image:url('images/icons/shipping.png');">
   <h2 class="iconText"><span class="alert"> delivery available</span></h2>
</div>


<div class="iconDiv" style="background-image:url('images/icons/customer_service.png');">
 <h2 class="iconText"><span class="alert"> customer service</span></h2>
</div>

   <div  class="iconDiv" style="background-image:url('images/icons/custom_made.png');">
 <h2 class="iconText"><span class="alert"> custom designery</span></h2>
</div>
