
.cart{
    display: none;
    position: fixed;
    margin: 0;
    padding: 0;
    width: 95%;
    height:85%;
    z-index: 100;
    background-color:green;
}
.cartContain{
    margin:1%;
    padding:1%;
    display: grid;
    grid-template-columns: 1fr;
    @media (min-width:768px) {
        grid-template-columns: 1fr 1fr;
    }
}