.cartIcon{
  position: fixed;
  width: 12%;
  right: 20px;
  bottom: 20px;
    &_inv{
        width:44%;
        filter: invert(50%);
    }
}
.gglButton{
   max-width: 75%;
   max-height: 75%;
   
   
}
