<div id="footer">
    <div class="">
        <img src="./images/logo/logo_transp.png" alt="">
        <div class="rightsReserved"><h3>NoCo Metalworkz LLC</h3></div>
    
      <div class="footerInfo">
        <div class="leftBlock">
    <div class="innerLink" data-link="contact"><h6>contact</h6></div>
    <div class="innerLink" data-link="gallery"><h6>gallery</h6></div>
    <div class="innerLink" data-link="about"><h6>about</h6></div>
        </div>

        <div class="rightBlock">
    <div class="innerLink" data-link="contact"><h6>contact</h6></div>
    <div class="innerLink" data-link="gallery"><h6>gallery</h6></div>
    <div class="innerLink" data-link="about"><h6>about</h6></div>
        </div>
      </div>
      <div class="rightsReserved">
          <span class="rightsReserve">nocometalworkz llc ©  2025 all rights reserved</span>
          <h3></h3> 
          <span class="rightsReserve">website developed by : <a href="https://madladslab.com">madLadsLab LLC</a></span>
    </div>
    </div>
</div>