<div id="mainbody">
    <div class="bodyElement" >
        <%-include('./header')%>
    </div>
    <div class="bodyElement" data-bg="url('./images/assets/image7.jpg')">
        <h2>NoCo Metalworkz</h2>
    
       <h3>Automatic Gates</h3>
       <h3>Metal Cutting & Design</h3>
       <h3>Fencing</h3>
      </div>
      
      <div class="bodyElement" data-bg="url('./images/assets/image6.jpg')">
     
        <h2>Automatic Gates</h2>
        <p>
          High-quality custom gates for enhanced security and style. Perfect for ranch and residential properties.
        </p>
      </div>
      
      <div class="bodyElement" data-bg="url('./images/assets/image2.jpeg')">
  
        <h2>Fences</h2>
        <p>
          Durable and stylish fencing solutions for ranches and residential spaces. Designed to meet your unique needs.
        </p>
      </div>
      
      <div class="bodyElement" data-bg="url('./images/assets/image1.jpeg')">
     
        <h2>Metal Cutting & Design</h2>
        <p>
          Expert craftsmanship in metal cutting and custom designs. Creating pieces that stand out in ranch and residential projects.
        </p>
      </div>
      
      <div class="bodyElement">
        <%-include('./footer')%>
    </div>

</div>