<div id="menu">
    <div><img src="./images/logo/logo_transp.png" alt=""></div>
    <div class="innerLink" data-link="contact">contact</div>
    <div class="innerLink" data-link="gallery">gallery</div>
    <div class="innerLink" data-link="about">about</div>
  
</div>