<div id="popup">
    <div class="popupTitle"><h1>Popup Title</h1></div>
    <div class="popupSubtitle">Popup Subtitle</div>
    <div class="popupForm">PopUp Form</div>
    <div class="popupImg">Popup Img</div>
    
    <div id="popupClose">EXIT</div>
</div>