<div id="popup">
    <div class="popupTitle"><h1>Popup Title</h1></div>
    <div class="popupSubtitle">Popup Subtitle</div>
    <div class="popupForm"></div>
    <div class="popupImg"></div>
    <div class="popupGallery"><div class="galleryImagesDiv"></div></div>
    
    <div id="popupClose">EXIT</div>
</div>