<script>
    const popupdata = [
{contact:{
    title:"contact us",
    subtitle:"Get Info or Schedule Estimates",
    image:"./images/logo/logo_transp.png",
    form:"<form><input><button>button</button></form>"
}},
{about:{
    title:"about us",
    subtitle:"we weld in weld county surrounding areas"
}},
{gallery:{
    title:"gallery",
    subtitle:"gallery coming soon"
}},
    ]
</script>