<script>
    const popupdata = [
{contact:{
    title:"contact us",
    subtitle:"Get Info or Schedule Estimates",
    image:"./images/logo/logo_transp.png",
    form: '<form action="/contactForm" method="POST"><input type="text" name="name" placeholder="Name" required><input type="email" name="email" placeholder="Email" required><input type="tel" name="phone" placeholder="Phone Number" required><textarea name="request" placeholder="Your Request" required></textarea><input type="submit" value="Submit"></form>'
}},
{about:{
    title:"about us",
    subtitle:"We weld in weld county surrounding areas. Decades of experience on site welding Residential, Commercial, and Industrial Serivces."
}},
{gallery:{
    title:"gallery",
    subtitle:"gallery coming soon"
}},
{anouncements:{
    title:"anouncements",
    subtitle:"January 10th, 2025:  this website is currently under construction, some features may not work as intended"
}},
{blog:{
    title:"blog",
    subtitle:"blog coming soon"
}},
{privacy:{
    title:"privacy",
    subtitle: "Our privacy, usage, and accessibility policies ensure transparency and inclusivity. Details will be available soon."

}},
    ]
</script>